.supform{
    margin-top: 10vh;
    width: 31.5vw;
    margin-left:60%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 6px 6px #00000029;
    border-radius: 12px;
    opacity: 1;
    position:relative;
    padding:35px;
    text-align: center;
    padding-bottom: 60px;
  }

  body{
    background-color:white;
    color:#212529;
    /* overflow:hidden; */
  }

  .mainhead{
    text-align: center;
    margin-top:40px;
    font-size:2.2em;
    font-weight: 800;
  }

  .leftSec img {
    width:40%;
    height:200px;
    margin-left:16vw;
  }

  .leftSec h3,.leftSec p {
    margin-left:9vw;
    width:45vw;
    box-sizing: border-box;
    font-size:1.1em;
  }

  .leftSec h3{
    margin-top:40px;
    font-size: 1.8em;
    font-weight: 800;
  }

  .leftSec{
    position: absolute;
  }
  

  .termsandcondition,.newsletter {
    margin-left:10vw;
    margin-top:30px;
  }

  .newsletter{
    margin-top:2px;
  }

  .lbc {
    font-weight: 600;
    margin-top:-2px;
    margin-left:5px;
  }

  .formclass{
    width: 100%;
    height: 5.75vh;
    background: #F2F2F6 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
    border:none;
    padding:20px 26px 20px 26px;
    margin-bottom:10px;
    margin-top: 10px;

  }

  .topcol{
    height: 5.75vh;
    width:25.8vw;
    margin-top: 15px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 12px 12px 0px 0px;
    opacity: 1;
    color:black;
    text-decoration:none;
    font-weight:600;
  }

  .topcol a{
    color:black;
    font-size:1.2rem;
    text-decoration:none;
  }

  .fgtpass{
    float:right;
    color:#EA4B32 !important;
  }

  #Signupform{
    padding:20px;
  }

  .sgnbtmbrd{
    width: 12vw;
    height: 7px;
    background: #EA4B32 0% 0% no-repeat padding-box;
    opacity: 1;
    border-top-left-radius: 90%;
    border-top-right-radius: 90%;
    padding-top: 2px;
    overflow:hidden;
    margin-top:12px;
  }

  #rightsechead{
    margin-top: 9vh;
    margin-left: 10vw;
    text-align: left;
  }

  .signupbtn{
    padding:5px;
    background: #EA4B32 0% 0% no-repeat padding-box;
    box-shadow: 0 2px 8px 0 #ea4b32;
    opacity: 1;
    border:none;
    padding:7px 20px 7px 20px;
    color:white;
    width:100%;
    font-weight: 500;
    float:left;
    margin-top:25px;
    margin-bottom:25px;
  }

  .signupbtn:focus{
    outline:none;
    opacity:0.8;
  }

  .eyebutton,.closedeyebutton{
    position:absolute;
    top:20px;
    right:20px;
    cursor:pointer;
    display:grid;
  }

  .closedeyebutton{
    display:none;
    right:0px;
  }

  .lgpass{
    position:relative;
  }

  @media (max-width: 800px) {
      .supform {
        width: 90% !important;
        margin: 20px !important;
        margin-top:10vh !important;
        padding: 10px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 3px 3px 6px 6px #00000029;
        border-radius: 12px;
        opacity: 1;
        position:relative;
        text-align: center;
        padding-bottom: 60px;
      }

      .leftSec,.mainhead{
        display:none;
      }

      .leftSec img {
        margin-top: 2vh;
        width:40%;
        margin-left:5%;
        position:absolute;
        display:none;
      }
  
      .formclass {
        font-size: 15px;
        padding: 10px;
        border-radius: 7px;
      }
      .signupbtn {
        display: block;
        padding: 10px 8px;
        font-size: 15px;
        width: 100%;
        margin: auto;
        margin-top:15px;
        margin-bottom:20px;
      }

      .topcol{
        height: 50px;
        width:76vw;
        margin-top: 15px;
        margin-left:25px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 12px 12px 0px 0px;
        opacity: 1;
        color:black;
        text-decoration:none;
        font-weight:600;
      }

      .topcol a{
        color:black;
        font-size:1rem;
        text-decoration:none;
      }
      .sgncol,.lgncol{
        width:50%;
      }

      .sgnbtmbrd{
        width:25vw;
      }
    }
