
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TRIIII</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/5b2950053f.js"></script>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}"></link>
  </head>


  <body>
  <div class="rightsec">
    <div id="signinform" >
      <div class="supform">
        <div class="row topcol" align="center">
          <div class="col-sm sgncol">
            <a href="{% url 'signuppage' %}">Sign up</a>
          </div>
          <div class="col-sm lgncol">
            <a href="{% url 'loginpage' %}">Log in</a>
            <p class="sgnbtmbrd" ></p>
          </div>
        </div>



      <div class="mainform">

        {% if val == 1 %}
          <br> <p style="color:red;" >{{error}}</p>
        {% elif val == 2 %}
          <br>  <p style="color:red;" >You do not have a account , Please Signup to continue !!</p>
        {% elif val == 4 %}
          <br>  <p style="color:red;" >Please enter correct password !!</p>
        {% endif %}

        <form class="supformhtml" id="Signupform"  method="POST">{% csrf_token %}

          <input type="email" name="email" placeholder="Your Email" class="formclass">
          <input type="password" name="password" placeholder="Your Password" class="formclass"><br>

          <a href="{% url 'password_reset' %}" class="fgtpass">Forgot Your Password ?</a><br>

          <button type="submit" class="signupbtn" name="button">Log In</button>


        </form>
      </div>





    </div>



  </div>
</div>



    </div>
  </body>
</html>
