
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TRIIII</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/5b2950053f.js"></script>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}"></link>
  </head>


  <body>
<div class="rightsec" align="center">
  <div id="signinform">

    <div class="supform">




      <div class="mainform">

        <div class=" accact">
          <h3>Enter New Password</h3><br>
          <p>Looks like you are trying to reset the password for the account. Please enter your new password twice. So we can verify you typed it correctly.</p>
        </div>


        <form class="supformhtml" id="Signupform"  method="POST">{% csrf_token %}

          <input type="password" name="new_password1" placeholder="New Password" class="formclass">
          <input type="password" name="new_password2" placeholder="Confirm Password" class="formclass">

          <p> <b>P.S.</b> Your Password should not be similar to your username or email. </p>

          <button type="submit" class="signupbtn" name="button">Change Password</button>


        </form>

      </div>





    </div>



  </div>
</div>



    </div>
  </body>
</html>
