
{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}"></link>
<div class="rightsec" align="center">
  <div id="signinform">

    <div class="supform">




      <div class="mainform">

        <div class=" accact">
          <h3>Enter New Password</h3><br>
          <p>Looks like you are trying to reset the password for the account. Please enter your new password twice. So we can verify you typed it correctly.</p>
        </div>


        <form class="supformhtml" id="Signupform"  method="POST">{% csrf_token %}

          <input type="password" name="new_password1" placeholder="New Password" class="formclass">
          <input type="password" name="new_password2" placeholder="Confirm Password" class="formclass">

          <p> <b>P.S.</b> Your Password should not be similar to your username or email. </p>

          <button type="submit" class="signupbtn" name="button">Change Password</button>


        </form>

      </div>





    </div>



  </div>
</div>



    </div>
{% endblock %}
