{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}"></link>
    
<div class="rightsec" align="center">
  <div id="signinform">
  <div class="leftSec" >
      <h3>Reset Your Password</h3>
      <img src="{% static 'images/sgp.png' %}" ><br/>
      <input required class="newsletter" type="checkbox" >
      <label class="lbc lbn">I would like to receive notifications of new Challenges.</label>
    </div>
    <div class="supform">

      <div class="mainform">
        <div class="accact">
          <h3>Forgot Password</h3><br>
          <p>No Problem! Enter your email or username below and we will send you an email with instruction to reset your password.</p>
        </div>
        <form class="supformhtml" id="Signupform"  method="POST">{% csrf_token %}

          <input type="email" name="email" placeholder="Your Email" class="formclass">

          <button type="submit" class="signupbtn" name="button">Send Reset Link</button><br>




        </form></br>
        <p class="bklgn">Back to <a style="color:#EA4B32;" href="{% url 'loginpage' %}">Log In</a></p>
      </div>





    </div>



  </div>
</div>



    </div>
{% endblock %}
