
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TRIIII</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/5b2950053f.js"></script>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}"></link>
  </head>


  <body>
    
<div class="rightsec" align="center">
  <div id="signinform">

    <div class="supform">




      <div class="mainform">
        <div class="accact">
          <h3>Forgot Password</h3><br>
          <p>No Problem! Enter your email or username below and we will send you an email with instruction to reset your password.</p>
        </div>
        <form class="supformhtml" id="Signupform"  method="POST">{% csrf_token %}

          <input type="email" name="email" placeholder="Your Email" class="formclass">

          <button type="submit" class="signupbtn" name="button">Send Reset Link</button><br>




        </form>
        <p class="bklgn">Back to <a href="{% url 'loginpage' %}">Log In</a></p>
      </div>





    </div>



  </div>
</div>



    </div>
  </body>
</html>
