

  <link rel="stylesheet" href="{% static 'css/auth.css' %}"></link>

  <div class="settings_change">
    <div class="row">
      <div class="verlist">
        <p id="lis1"><a href="{% url 'user_settings' %}">Settings</a></p>
        <p id="lis2"><a href="{% url 'change_password' %}">Password</a></p>
      </div>

      <input type="text" hidden id="base_por_url" value="/media/{{stud_info.avatar}}">
      <div class="col-sm chpass">
        <form method="post">
          {% csrf_token %}

          <h2 style="margin-left:-15px;" class="chhead">Change Your Password</h2>

          <p style="margin-left:-15px;" class="chfoot">Enter your current password along with a new one to change it.</p><br>

          {% if message %}
            {% if val == 0 %}
            <p style="color:#249F51;padding:22px;font:'OpenSans' 16px;border:1px solid #2ec866;background-color:rgba(46,200,102,0.05);width:60%;">{{message}}</p>
            {% endif %}
            {% if val == 1 %}
            <p style="color:#f1270b;padding:22px;font:'OpenSans' 16px;border:1px solid #f65039;background-color:rgba(246,80,57,0.05);width:60%;">{{message}}</p>
            {% endif %}
            {% if val == 3 %}
            <p style="color:#f1270b;padding:22px;font:'OpenSans' 16px;border:1px solid #f65039;background-color:rgba(246,80,57,0.05);width:60%;">{{message}}</p>
            {% endif %}
          {% endif %}

          <div class="row">
            <div class="chlabel">
              <label align="left">Current Password</label>
            </div>
            <div class="col-sm">
              <input type="password" name="old_password"><br>
              <label class="undpass">Your current Genesis Portal password</label>
            </div>
          </div><br>

          <div class="row">
            <div class="chlabel1">
              <label align="left">New Password   </label>
            </div>
            <div class="col-sm">
              <input type="password" name="new_password1"><br>
              <label class="undpass">Desired password (at least 6 characters long)</label>
            </div>
          </div><br>

          <div class="row">
            <div class="chlabel">
              <label align="left">Confirm Password</label>
            </div>
            <div class="col-sm">
              <input type="password" name="new_password2"><br>
              <label class="undpass">Confirm your desired password</label>
            </div>
          </div><br>




          <button type="submit" class="signupbtn1">Change Password</button>
        </form>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var imsrc = document.getElementById("base_por_url").value;
    if(imsrc != ""){
      document.getElementById("base_add_pro_pic").src = imsrc;

    }
  </script>



