{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}"></link>

<style>
    .signup-link{
      color:#EA4B32 !important;
    }
  </style>

<div class="rightsec">
  <div id="signinform" >
    <h2 class="mainhead">Please Log In or Register to continue</h2>
    <div class="leftSec" >
      <h3>SignUp with TRIIII</h3>
      <p>Register Yourself and become a part of community that is going to change the lives of billions people and make it a better place.</p>
      <img src="{% static 'images/sgp.png' %}" ><br/>
      <input required class="termsandcondition" id="tmcbox" type="checkbox" >
      <label class="lbc">I have read and agree to the TRIIII Terms of Use.</label><br/>
      <p style="color:red;font-size:1em;margin-left:14vw;display:none;" id="tmcc" >You have to accept the TRIIII Terms of use in order to continue.</p>
      <input required class="newsletter" type="checkbox" >
      <label class="lbc lbn">I would like to receive notifications of new Challenges.</label>
    </div>

    <div class="supform" >

      {% comment %} <div class="row topcol" align="center">
        <div class="col-sm sgncol">
          <a href="{% url 'signuppage' %}">Sign up</a>
          <p class="sgnbtmbrd" ></p>
        </div>
        <div class="col-sm lgncol">
          <a href="{% url 'loginpage' %}">Log in</a>
        </div>
      </div> {% endcomment %}

      <div class="mainform">
        <form class="supformhtml" id="Signupform"  method="POST">{% csrf_token %}

          {% for field in form %}

            {{field}} <br>

            {% for error in field.errors %}

            <p style="color:crimson">{{error}}</p>

            {% endfor %}

          {% endfor %}
          <button type="submit" onclick="checkTerms();" class="signupbtn" name="button">Create An Account</button>
          <br>
          <p> Already a member <a style="color:royalblue !important;text-decoration:underline;" href="{% url 'loginpage' %}" >LOGIN?</a> </p>
        </form>
      </div>





    </div>



  </div>
</div>
</div>

  <script>
    function checkTerms() {
      var k = document.getElementById('tmcbox');
      if(k.checked == true) {
        $('.Signupform').submit();
      } else {
        document.getElementById('tmcc').style.display = "grid";
      }
    }
  </script>

{% endblock %}

