

{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>TRIIII</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/5b2950053f.js"></script>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}"></link>
  </head>

  <body>
    
<div class="rightsec">
  <div id="signinform" >

    <div class="supform" >

      <div class="row topcol" align="center">
        <div class="col-sm sgncol">
          <a href="{% url 'signuppage' %}">Sign up</a>
          <p class="sgnbtmbrd" ></p>
        </div>
        <div class="col-sm lgncol">
          <a href="{% url 'loginpage' %}">Log in</a>
        </div>
      </div>

      <div class="mainform">
        <form class="supformhtml" id="Signupform"  method="POST">{% csrf_token %}

          {% for field in form %}

            {{field}} <br>

            {% for error in field.errors %}

            <p style="color:crimson">{{error}}</p>

            {% endfor %}

          {% endfor %}
          <button type="submit" class="signupbtn" name="button">Create An Account</button>


        </form>
      </div>





    </div>



  </div>
</div>



    </div>
  </body>
</html>


