{% extends "base.html" %}
{% load static %}

{% block content %}
{% comment %} <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet"> {% endcomment %}
<style>
    .page-block--image.hello {
        background: url('{% static 'images/aboutus.png' %}');
        background-size:contain;
        background-repeat:no-repeat;
        height: 450px;
    }

    .page-block--image {
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        height: 850px;
    }

    .page-block {
        position: relative;
        margin: 0;
        display: inline-block;
        width: 100%;
        background-color: #fff;
    }

    .container-flex {
        max-width: 1040px;
        margin-right: auto;
        margin-left: auto;
    }

    .color-callout.navy, .image-callout.navy {
        background-color: #00007d;
    }

    .color-callout--pull-up, .image-callout--pull-up {
        margin-top: -75px;
    }

    .color-callout, .image-callout {
        color: #FFFFFF;
        position: relative;
        text-align: center;
        border-radius: 0;
        margin-bottom: 75px;
        z-index: 101;
    }

    .color-callout {
        padding: 70px 100px;
    }

    .aboutusContent p {
        font-family: 'PT Serif', serif;
        font-size: 1.4rem;
        line-height: 1.6;
        margin-bottom: 2rem;
        font-weight:normal;
        width:90%;
        margin-left:5%;
    }

    @media (max-width:800px) {
            .page-block--image.hello {
            background-image: url('{% static 'images/aboutus.png' %}');
            height: 50vh;
            width:100vw;
        }

        video{
            display:grid !important;
            margin-bottom:10px;
        }

        .page-block--image {
            background-size: cover;
            background-position: center top;
            background-repeat: no-repeat;
            height: 50vh;
        }

        .page-block {
            position: relative;
            margin: 0;
            display: inline-block;
            width: 100%;
            background-color: #fff;
        }

        .container-flex {
            max-width: 75vw;
            margin-right: auto;
            margin-left: auto;
        }

        .color-callout.navy, .image-callout.navy {
            background-color: #00007d;
        }

        .color-callout--pull-up, .image-callout--pull-up {
            margin-top: -75px;
        }

        .color-callout, .image-callout {
            color: #FFFFFF;
            position: relative;
            text-align: center;
            border-radius: 0;
            margin-bottom: 75px;
            z-index: 101;
        }

        .color-callout {
            padding: 40px 10px;
        }

        .color-callout__content p {
            font-size:16px !important;
        }
    }

    .abtus-link{
        color:white !important;
        border-bottom:2px solid #18A0FB;
    }


</style>

    <div>
        <section class="page-block page-block--image hello"></section>
        <section class="page-block">
            <div class="container-flex">
                <div class="color-callout navy color-callout--pull-up">
                    <div class="color-callout__content type-xl--serif">
                        <p style="font-size:35px;">
                            A  ​Smart Way to Grow Your Business and solve the problems.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="container aboutusContent">
        
        <p>TRIIII is a crowdsourcing and ​Open Innovation Marketplace that connects          organizations seeking solutions to important challenges they face with an unrivaled           network of expert problem solvers. both experts from within your industry, but more             importantly experts from outside of your industry that can offer diverse perspectives            and fresh insight. Through Open Innovation, we are going to solve these your industry              problems by finding new innovative technology and better ideas by using the wisdom             of crowds.  
            <br /><br />
            We are solving manufacturing business problems in a fast, cost-effective and efficient manner. It creates a win-win situation for both problem seekers as well as problem solvers. Open innovation is changing the world and it is time to make use and take advantage of new innovative technology through Open Innovation and crowdsourcing. 
            <br/><br />
            We help industry solve the important problems that occurs in your business by connecting them, expert problem solver </p>
        

        <div style="width:90%;margin-left:5%;margin-top:65px;">
            <h2 style="text-align:center;" > <b> Types of challenges  </b></h2><br /><br />

            <div class="row" style="border:1px solid black;" >
                <div class="col-sm-6" style="padding:15px;border-right:1px solid black;" >
                    <h4 style="margin-left:20px;font-weight:600;" >FUNDING </h4>
                    <p>In our funding program, we provide our customer demand with a suitable loan amount to the solutions.</p>                          
                </div>

                <div class="col-sm-6" style="padding:15px;" >
                    <h4 style="margin-left:20px;font-weight:600;" >NON FUNDING </h4>
                    <p>In our non-funding program we provide only solutions to the seeker to grow your business.</p>
                </div>
            </div>
              
        </div>
    
    </div>

{% endblock %}