{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
element.style {
    background: linear-gradient(to bottom, rgba(256, 256, 256, 0.6),rgba(256, 256, 256, 0.2)),url('{% static 'images/cback.svg' %}');
}

body{
    overflow-x:hidden;
}

.hero-banner-slim:first-child {
    width: 100%;
    padding-bottom: 5%;
    background-position: center !important;
}

.frontpage-hero, .hero-banner-slim {
    max-width: none;
    overflow: hidden;
    width: 100%;
    padding-bottom: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: relative;
    height:45vh !important;
    color:white;
}

h1.hero-header {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    margin-top:25px !important;
    color: #F7F7F7;
}

h2.hero-sub-header {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    text-align: center;

    color: #F7F7F7;
}

.imgText{
    position:absolute;
    margin-top:2vh;
    margin-left:10vw;
    text-align:center;
}

.subbtn {
    margin-left:33% !important;
}


.subbtn, .subbtn1{
    width:180px !important;
    margin-top:0vh !important;
    background: #FA1D1D !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25) !important;
    border-radius: 5px !important;
}

.subbtn1{
    margin-left:25px;
}

.TriiiiBtn{
    font-size: 14px;
    border-radius: 0;
    border: none;
    padding: 6px 15px;
    background-color: #EA4B32;
    color: #fff;
    font-family: 'roboto', sans-serif;
    font-weight: 800 !important;
    width:120px;
    margin-top:25px;
}

.TriiiiBtn:hover{
    color: #fff;
    background: #C02E16;
    outline:none;
}

.TriiiiBtn:focus{
    outline:none !important;
    border:none !important;
    background-color: #C02E16 !important;
}

.blog .blog-topic-list-container {
    text-align: center;
    margin: 0 1rem 2rem 1rem;
}

.blog-topic-list-container .pill {
    font-weight: bold;
    margin: 0.5rem 0.8rem;
    text-decoration: none !important;
    transition: 0.3s all;
}

.blog-topic-list-container {
    margin-top:20vh;
}

.blog-topic-list-container .pill.selected:hover {
    background-color: #1cb5f2 !important;
    color: white !important;
}

.blog-topic-list-container .pill:hover {
    background-color: #1cb5f2 !important;
    color: white !important;
}

.pill {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
}

.blog-post-item-card .card {
    border-radius: 15px;
}

.card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.blog-post-item-card .card-image {
    background: linear-gradient(to bottom right, #1cb5f2, #bbb);
    height: 260px !important;
    border-radius: 15px 15px 0 0;
    overflow-y:hidden;
}

.card .card-image {
    position: relative;
    overflow:auto;
    overflow-y:hidden;

}

.blog-post-item-card .card-image .blog-card-preview-image {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: auto;
    opacity: 0.5;
    border-radius: 15px 15px 0 0;
}

.card .card-image .card-title {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
}

.blog-post-item-card .card-title {
    height: 100%;
    font-weight: 700;
    transition: 0.5s all;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}

.card .card-title {
    font-size: 24px;
    font-weight: 300;
}

.row-fluid {
    width: 100%;
    *zoom: 1;
}

.blog-post-item-card .author-info {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    height: 40px;
    line-height: 40px;
}

.blog-post-item-card .card-image img.author-profile-pic {
    border-radius: 40px;
    height: 40px;
    width: 40px;
    display: inline-block;
}

.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: bottom;
}

.blog-post-item-card .card-image .author-name {
    color: white;
    font-weight: bold;
    margin-left: 10px;
    display: inline-block;
    line-height:40px;
}

.blog-post-item-card .card-action {
    border-radius: 0 0 15px 15px;
}

.card .card-action {
    position: relative;
    background-color: inherit;
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 20px;
    z-index: 2;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top:60px;
}

.modal-body .row {
    margin-top:0px !important;
}

.modal-body .TriiiiBtn {
    margin-top:0px;
}

.col.l6 {
    width: 50%;
    /* margin-left: auto; */
    left: auto;
    right: auto;
}

.chronicles-link{
    color:white !important;
    border-bottom:2px solid #18A0FB;
}

.sccsmsg {
    z-index:500;
    margin-top:70px;
    opacity:1;
    width:75vw;
    margin-left:6vw;
    text-align:center;
}

.searchform input {
    background: #F7F7F7;
    border: 1px solid #9D9D9D;
    box-sizing: border-box;
    border-radius: 5px;
    width:50vw;
    padding:8px 120px 8px 175px;
    outline:none !important;
}

.searchform {
    margin-top:60px;
    margin-left:23.5vw;
}

.srcbtn {
    background: #18A0FB;
    border-radius: 0px 5px 5px 0px;
    position: absolute;
    width: 120px;
    right: -2vw;
    z-index: 80;
    height: auto;
    padding-bottom: 12px;
    border: none;
}

.blog-topic-list-container{
    display: flex;
    flex-direction: row;
    width:50vw;
    margin-left:25vw;
    color:black !important;
}

.fltr-lnk:first-child{
    padding-left:25px !important;
}

.fltr-lnk {
    color:black !important;
    padding-right:20px !important;
    padding-left:20px !important;
    padding-bottom:20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.33);
    text-align: center;
    background:none;
}

.search-ch-drp{
    position:absolute;
    width:150px;
    padding:10px 12px 10px 12px;
    border: 1px solid #9D9D9D;
    border-bottom:none;
    border-radius: 5px;
    z-index:89;
    background: #F7F7F7;
    outline: none;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
}

@media (max-width:800px) {

    .frontpage-hero, .hero-banner-slim {
        max-width: none;
        overflow: hidden;
        width: 100%;
        padding-bottom: 100%;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        position: relative;
        height:25vh !important;
    }

    .imgText{
        position:absolute;
        margin-top:0vh;
        margin-left:-1vw;
        text-align:center;
        font-size:80%;
        box-sizing:border-box;
    }

    .hero-banner-slim{
        height:30vh;
    }

    .col.l6 {
        width: 100%;
        /* margin-left: auto; */
        left: auto;
        right: auto;
    }

    .blog-post-item-card .card-image {
        background: linear-gradient(to bottom right, #1cb5f2, #bbb);
        height: 240px;
        border-radius: 15px 15px 0 0;
    }

    .subbtn{
        margin-top:25px !important;
        width:120px !important;
        font-size:80%;
        text-align: center;
    }

    .subbtn1{
        margin-top:25px !important;
        width:120px !important;
        font-size:80%;
        text-align: center;
    }

    video{
        display:grid;
    }

    .blog-post-item-card .card-image {
        background: linear-gradient(to bottom right, #1cb5f2, #bbb);
        height: 180px !important;
        border-radius: 15px 15px 0 0;
        overflow-y:hidden;
    }

    .card .card-image {
        position: relative;
        overflow:auto;
        overflow-y:hidden;
    }

    .searchform{
        margin-left:0vw !important;
    }

    .navbar-toggler-icon{
        right:0px !important;
    }

    .subbtn{
        /* top:13vh;
        left:28vw; */
    }

    .subbtn1{
        /* top:13vh;
        left:0vw; */
    }

    .hero-header{
        font-size:18px !important;
        margin-top:-21px !important;
    }

    .hero-sub-header{
        font-size:14px !important;
        line-height:18px !important;
        margin-top:3px !important;
    }

    .searchform input {
        width:85vw !important;
        padding:8px 50px 8px 110px !important;
        outline:none !important;
    }

    .srcbtn {
        right:2vw !important;
        width:80px !important;
    }

    .blog-topic-list-container{
        width:86vw;
        margin-left:7vw;
        color:black !important;
        font-size:10px;
        text-align: center;
    }

    .fltr-lnk {
        padding-right:4px !important;
        padding-left:4px !important;
    }

    .fltr-lnk:first-child {
        padding-left:1px !important;
    }

    .fltr-active{
        color:#18A0FB !important;
        padding-bottom:17px !important;
        border-bottom: 4px solid #18A0FB !important;
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
        font-weight:600;
    }

    .card-title{
        font-size:14px !important;
    }

    .crd-cnt{
        font-size:12px !important;
    }

    h1.hero-header {
        margin-top:0px !important;
    }

    .subbtn, .subbtn1 {
        margin-top:-30px !important;
    }

    .subbtn {
        margin-left:20px !important;
    }

    .search-ch-drp{
        width:100px !important;
    }
}

.fltr-lnk:hover{
    color:#18A0FB !important;
    padding-bottom:19px;
    border-bottom: 2px solid #18A0FB ;
}

.fltr-active{
    color:#18A0FB !important;
    padding-bottom:16px !important;
    border-bottom: 5px solid #18A0FB !important;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    font-weight:600;
}



</style>

    <div class="row-fluid ">
        <div class="span12 hero-banner-slim " style="background: linear-gradient(90deg, rgba(16, 21, 28, 0.61) 0%, #29323C 100%),url('{% static "images/cback.svg" %}');" data-widget-type="cell" data-x="0" data-w="12">

        <div class="span12" data-widget-type="cell" data-x="0" data-w="12">

        <div class="row-fluid ">

        <div class="imgText">
            <h1 class="hero-header">CHRONICLES</h1>
            <h2 class="hero-sub-header" 
                style="text-align: center;color:white;margin-top:15px;font-size:18px;"
            >WE KNOW YOU ARE BUSY</br> ONE MINUTE KNOWLEDGE VIDEOS ON INDUSTRIES UPDATES AND TECHNOLOGIES THAT YOU NEED TO GROW YOUR BUSINESS</h2><br/>
            <div class="row" style="margin-top:12px !important;text-align: center;">
                <button class="TriiiiBtn subbtn btn btn-primary my-2 my-sm-0" data-toggle="modal" data-target="#subscribeModalj" type="submit" >Join Chronicles</button>
                {% if user.is_authenticated %}
                    <button class="TriiiiBtn subbtn1 btn btn-primary my-2 my-sm-0" id="subscribeSubmit" data-toggle="modal" data-target="#blogModal" >Post a Chronicle</button>
                {% endif %}
            </div>
        
        </div>
        
        <div id="hs_form_target_form_680875575">

        </span></div>


        </div>

        </div>
    </div>

    

    {% comment %} <div class="container" align="center" style="width:90vw">
        <h4 style="margin-top:25px;" ><b></b> <br/>
        <b></h4>
    </div> {% endcomment %}
    {% if message %}
        <div class="alert alert-success alert-dismissible fade show sccsmsg" align="center" role="alert">
            <strong>Congratulations !!</strong> {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <b> <span aria-hidden="true">&times;</span></b>
            </button>
        </div>
    {% endif %}
    
    <form action="{% url 'BlogPage' %}" method="POST" id="filterForm">{% csrf_token %}
        <div class="searchBlogs">

        </div>
        <div class="form-group col-sm-6 searchform" style="position:relative;margin-bottom:50px !important;" >
            <select name="search_sub_category" class="search-ch-drp" >
                <option value="">All</option>
                <option value="textile">Textile</option>
                <option value="plastic">Plastic</option>
                <option value="wood">Wood</option>
                <option value="Cable">Cable</option>
                <option value="Paper">Paper</option>
                <option value="Electronic">Electronic</option>
                <option value="Automation">Automation</option>
                <option value="Glass">Glass</option>
                <option value="Steel">Steel</option>
                <option value="Other">Other</option>
            </select>
            <!-- <img style="position:absolute;left:28px;top:15px;height:12px;width:auto;z-index:80;color:#9D9D9D;"  src="{% static 'images/search.svg' %}" alt=""> -->
            <input style="position:absolute;z-index:70;" type="text"  id="exampleInputEmail1" name="searchBlog" aria-describedby="emailHelp" placeholder="Search Chronicles">
            <button type="submit"  style="position:absolute;width:120px;" class="srcbtn btn btn-primary">Search</button>
        </div>
        
    </form>


    <div class="blog-topic-list-container" align="center">
        <a href="#" onClick="filterBlogs(this);" class="fltr-lnk ">All</a>
        <a href="#" onClick="filterBlogs(this);" class="fltr-lnk ">Electricity</a>
        <a href="#" onClick="filterBlogs(this);" class="fltr-lnk ">Productivity</a>
        <a href="#" onClick="filterBlogs(this);" class="fltr-lnk ">Automation</a>
        <a href="#" onClick="filterBlogs(this);" class="fltr-lnk ">Quality Control</a>
        <a href="#" onClick="filterBlogs(this);" class="fltr-lnk ">Marketing</a>
    </div>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="subscribeModalj" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" style="color:black !important;" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Subscribe to our Chronicles</h5>
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" action="{% url 'Subscribe' %}" method="POST">{% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" >
                                <label for="exampleInputEmail1">Name</label>
                                <input required type="text" name="name" placeholder="Enter Name" class="form-control" />
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group" >
                                <label for="exampleInputEmail1">Email</label>
                                <input required type="text" name="email" placeholder="Enter Email" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" >
                                <label for="exampleInputEmail1">Company Name</label>
                                <input  type="text" name="company" placeholder="Enter Company Name" class="form-control" />
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group" >
                                <label for="exampleInputEmail1">Phone</label>
                                <input required type="tel" pattern="[0-9]{9}" name="phone" placeholder="Enter Phone number" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <button class="btn TriiiiBtn mr-3 pull-left" style="width:100%;" type="submit">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>

    
<div class="container row" >
    {% for i in blogs %}
        <div class="col-sm-4">
            <div class="card" style="height:540px;position:relative;" >
                <div>
                    <img  style="height:300px;width:100%;"  src="/media/{{i.thumbnail}}" alt="">
                </div>
                <span class="card-title" style="padding:5px 15px;">
                    <b>{{i.title}}</b>
                </span>
                <span class="crd-cnt" style="padding:0px 15px 15px 15px;font-size:15px;line-height:18px;">
                    {{i.content|truncatechars:200}}
                    <a style="cursor:pointer;margin-left:15px;color:royalblue;" href="{% url 'BlogDetailPage' slug=i.slug %}">Read more</a>
                </span>
                <span style="margin-left:15px;color:royalblue;">
                    By : {{i.author.full_name}}
                </span>
                <div >
                    <span style="font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 18px;
                    margin-left:15px;
                    color: #767676;" >{{ i.datePosted }}</span>
                    <span style="float:right;margin-right:25px;" > 
                    <span style="font-family: Poppins;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 18px;
                        
                        color: #FA1D1D;
                        " >
                        Category
                    </span> : {{ i.category }}</span>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="modal fade bd-example-modal-lg"  id="blogModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Write a chronicle</h5>
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" action="{% url 'CreateBlog' %}" method="POST">{% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" >
                                <label for="exampleInputEmail1">Title</label>
                                <input  type="text" name="title" class="form-control" />
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group" >
                                <label for="exampleInputEmail1">Tags</label>
                                <input  type="text" name="tags" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" >
                                <label for="exampleInputEmail1">Category</label>
                                <select class="form-control" name="category" id="">
                                    <option value="Electricity">Electricity</option>
                                    <option value="Productivity">Productivity</option>
                                    <option value="Automation">Automation</option>
                                    <option value="Quality Control">Quality Control</option>
                                    <option value="Marketing">Marketing</option>
                                </select>
                            </div>
                        </div>
                    
                        <div class="col-sm-6">
                            <div class="form-group" >
                                <label for="exampleInputEmail1">Sub Category</label>
                                <select class="form-control" name="sub_category" id="">
                                    <option value="textile">Textile</option>
                                    <option value="plastic">Plastic</option>
                                    <option value="wood">Wood</option>
                                    <option value="Cable">Cable</option>
                                    <option value="Paper">Paper</option>
                                    <option value="Electronic">Electronic</option>
                                    <option value="Automation">Automation</option>
                                    <option value="Glass">Glass</option>
                                    <option value="Steel">Steel</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group" >
                                <label for="exampleInputEmail1">Description</label>
                                <textarea style="height:300px;" type="text" name="content" row="8" col="80" class="form-control" ></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Upload Video</label>
                                <input type="file" name="video" class="form-control" >
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Upload thumbnail</label>
                                <input type="file" name="thumbnail" class="form-control" >
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <button class="btn TriiiiBtn mr-3 pull-left" style="width:100%;" type="submit">Create Chronicle</button>
                        </div>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>

<script>
    var category = '{{ category }}';
    var ctgs = document.getElementsByClassName('fltr-lnk');
    for(let i=0;i<ctgs.length;i++) {
        if(ctgs[i].text.trim() == category.trim()) {
            ctgs[i].className += 'fltr-active';
        }
    }

    function filterBlogs(ele) {
        var k = `<input type="text" hidden  name="filterBlog" value=${ele.innerHTML}>`
        $('.searchBlogs').append(k);
        $('#filterForm').submit();
    }
</script>



{% endblock %}