{% extends "base.html" %}
{% load static %}

{% block content %}

    <style>
        .mainBody {
            background-color: #F8F9FA;
            padding: 19px;
            border: 1px solid #899EB1;
            margin-top: 65px;
        }

        .chfirst {
            background-color: #FFFFFF;
            border-bottom: 1px solid #899EB1;
            border-left: 1px solid #899EB1;
            border-right: 1px solid #899EB1;
            border-top: 4px solid #899EB1;
            padding-top: 15px;
            margin-left:.5%;
        }

        .imgThumb {
            display: inline-block;
            max-width: 100%;
            height: 120px;
            padding: 4px;
            line-height: 1.42857143;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 4px;
            -webkit-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            margin-left:20px;
            margin-top:38%;
        }

        .challengeName{
            border-bottom: 1px solid #CCCCCC;
            margin-top: 20px;
            margin-bottom: 10px;
            font-weight: 500;
            line-height: 1.1;
            color: #899EB1;
            font-size: 1.5em;
            font-family: 'Netto Regular', arial, verdana, helvetica, sans-serif;
            margin-left:25px;
        }

        .row{
            width:99%;
        }

        .tags{
            color: #000000;
            font-size: 14px;
            padding: .2em .6em .3em;
            margin-left:25px;
        }

        .deadline, .posted{
            margin-left:38px;
        }

        .extra{
            background-color: #f8f8f8;
            height: 30px;
            font-size: 11px;
            border-top: 1px solid #e7e7e7;
            margin-top:15px;
        }

        .abstractHead{
            background-color: #899EB1;
            font-size: 18px;
            padding: 6px 20px;
            font-weight: bold;
            width:99%;
            margin-left:0.5%;
            margin-top:25px;
        }

        .abstractContent {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 16px;
            line-height: 1.42857143;
            color: #333;
            width:95%;
            margin-left:2.5%;
            margin-top:25px;
        }

        .author-info {
            bottom: 0;
            margin: 10px;
            height: 40px;
            line-height: 40px;
            margin-left:30px;
        }

        img.author-profile-pic {
            border-radius: 40px;
            height: 40px;
            width: 40px;
            display: inline-block;
            margin-right:5px;
        }

        @media (max-width:800px) {
            .chfirst{
                margin-left:2%;
            }

            .deadline, .posted{
                margin-left:18px;
            }

            .blog-card-preview-image{
                width:100% !important;
                height:auto !important;
                display:grid !important;
            }
        }

        .challenges-link{
            color:#EA4B32 !important;
        }

        .sccsmsg {
            z-index:500;
            margin-top:70px;
            opacity:1;
            width:75vw;
            margin-left:6vw;
            text-align:center;
        }

    </style>

    <div class="container">

        {% if message %}
            <div class="alert alert-success alert-dismissible fade show sccsmsg" role="alert">
                <strong>Congratulations !!</strong> Your Solution has been Submitted.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                   <b> <span aria-hidden="true">&times;</span></b>
                </button>
            </div>
        {% endif %}

        <div class="mainBody">
            <div class="chfirst row">
                <div class="col-md-2">
                    <img src="/media/{{challenge.image}}" class="imgThumb" >
                </div>

                <div class="col-md-8">
                    <p class="challengeName"> {{challenge.title}} </p>
                    <p class="tags"> <b>TAGS :</b> {{challenge.tags}} </p>
                    <span class="deadline">Deadline : <b> {{challenge.deadline}} </b> </span><br/>
                    <span class="posted">Posted : {{challenge.date_posted}} </span>
                </div>

                <div class="extra col-md-12">

                </div>
            </div>

            <div class="abstract">
                <p class="abstractHead">Abstract</p>
                <p class="abstractContent"> {{challenge.summary}} </p>
            </div>

            <div class="abstract">
                <p class="abstractHead">Description</p>
                <p class="abstractContent">{{challenge.description}}</p>
            </div>

            {% if challenge.file1 %}
            <p class="abstractHead">Photos/Videos</p>
            <div class="files row" style="margin-top:25px;margin-left:1.5%;">
                <div class="col-md-4">
                    <img src=/media/{{challenge.file1}} style="width:100%;height:200px;" />
                </div>

                <div class="col-md-4">
                {% if challenge.file2 %}
                    <img src=/media/{{challenge.file2}} style="width:100%;height:200px;" />
                {% endif %}
                </div>

                <div class="col-md-4">
                {% if challenge.file3 %}
                    <img src=/media/{{challenge.file3}} style="width:100%;height:200px;" />
                {% endif %}
                </div>

                <div class="col-md-12" style="margin-top:30px;">
                {% if challenge.file4 %}
                    <video class="blog-card-preview-image" width="100%" height="100%" controls="" autoplay="true" muted="" loop="">
                        <source src="/media/{{challenge.file4}}" type="video/mp4">
                    </video>
                {% endif %}
                </div>
            </div>
            {% endif %}

        </div>

        {% if user.is_authenticated %}
            {% if challenge.status == "OPEN" %}
                <button class="TriiiiBtn" style="margin-top:30px;margin-left:88%;" data-toggle="modal" data-target=".bd-example-modal-lg"  >Submit Solution</button>
            {% endif %}
        {% endif %}

    </div>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Submit Solution</h5>
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" method="POST">{% csrf_token %}
                    <input type="text" hidden name="challenge" value="{{challenge.title}}">
                    <input type="text" hidden name="datepos" value="{{challenge.date_posted|date:'Y-m-d'}}">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group" >
                                <label for="exampleInputEmail1">Write Solution</label>
                                <textarea style="height:300px;" type="text" name="desc" row="8" col="80" class="form-control" ></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Upload Image</label>
                                <input type="file" name="image" class="form-control" >
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Upload File</label>
                                <input type="file" name="file" class="form-control" >
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <button class="btn TriiiiBtn mr-3 pull-left" style="width:100%;" type="submit">Submit Challenge</button>
                        </div>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>

{% endblock %}