{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .container h3{
        text-align:center;
        font-family: 'roboto', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 29px;
        color: #000000;
        padding-top: 10px; 
        /* border-top: 1px solid #d5d5d5; */
        margin-top: 20px;
        margin-bottom: 0px; 
    }

    .mapClass{
        margin-top:45px;
    }

    .contactInfo{
        margin-top:130px;
        margin-right:auto;
        margin-left:auto;
    }

    .embededMap{
        width:600px;
        height:450px;
    }

    .contactForm .form-control {
        height: 35px;
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        border-color: #a5a5a5;
    }

    .form-control {
        border: 1px solid #CCCCCC;
        border-radius: 0;
        height: 45px;
    }

    .form-control {
        display: block;
        width: 100%;
        padding: 0.305rem 0.75rem;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.3;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    input, button, select, optgroup, textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    .contactForm .inputlabel {
        font-size: 20px;
    }

    label {
        display: inline-block;
        margin-bottom: 0.5rem;
    }

    .contactForm .inputlabel {
        font-family: 'roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 25px;
        color: #727272 !important;
        font-weight:bold;
        margin-top: 20px;
    }

    .contactForm {
        margin-top:80px;
    }

    .form-control:focus{
        outline:none;
    }

    .TriiiiBtn{
        font-size: 14px;
        border-radius: 0;
        border: none;
        padding: 6px 15px;
        background-color: #EA4B32;
        color: #fff;
        font-family: 'roboto', sans-serif;
        font-weight: 800 !important;
        width:120px;
        margin-top:25px;
    }

    .TriiiiBtn:hover{
        color: #fff;
        background: #C02E16;
        outline:none;
    }

    .TriiiiBtn:focus{
        outline:none;
        border:none;
    }


    @media (max-width:800px) {
        .contactInfo{
            margin-top:30px;
            margin-right:auto;
            margin-left:auto;
        }

        .embededMap{
            width:90vw;
            height:40vh;
        }
    }

    .cntus-link{
        color:#EA4B32 !important;
    }


</style>

<div class="container">
    <h3>Contact Us</h3>
    

    <div class="row">
        <div class="col-sm mapClass">
            <iframe class="embededMap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3560.808681770997!2d75.77959261504284!3d26.814219783170113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjbCsDQ4JzUxLjIiTiA3NcKwNDYnNTQuNCJF!5e0!3m2!1sen!2sin!4v1587976442613!5m2!1sen!2sin"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>

        <div class="col-sm contactInfo" align="center">
            <h4>Address</h4>
            <p> Plot No. 6 Nagmani Coloney,Nagar Nigam Road <br/> Behind SBBJ Bank,Sanganer <br/> Jaipur, Rajasthan (302029) </p>
            <h4> Contact </h4>
            <p> +91 82396 07462 | +91 7976618532 </p>
            <h4> Email </h4>
            <p> Openinno7@gmail.com | triiii@gmail.com </p>
        </div>
    </div>

    <div class="contactForm">
    <form method="POST">{% csrf_token %}
    <div class="row">
        <div class="col-md-6">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="firstname" class="inputlabel">
                    Name
                    <span class="red-color"> *</span>
                </label>
                <input id="firstname" type="text" required class="form-control" name="name" value="">
            </div>
            <div class="form-group col-md-6">
                <label for="email" class="inputlabel">
                    Email
                    <span class="red-color"> *</span>
                </label>
                <input id="email" required type="email" class="form-control" name="email" value="">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="contact" class="inputlabel">
                    Contact No.
                    <span class="red-color"> *</span>
                </label>
                <input id="contact" type="text" required class="form-control" name="contact" value="">
            </div>
        </div>
        </div>
        <div class="col-md-6">
        <div class="row">
            <div class="form-group col-md-12">
                <label for="message" class="inputlabel">
                    Message
                    <span class="red-color"> *</span>
                </label>
                <textarea row="8" col="80" style="height:140px;" id="message" required class="form-control" name="message"></textarea>
            </div>
        </div>
        </div>
        </div>
        <button class="TriiiiBtn btn btn-primary my-2 my-sm-0" type="submit" >SUBMIT</button>
        </form>
    </div>
</div>


{% endblock %}