{% extends "base.html" %}

{% block content %}

    <style>
        body {
            font-family: 'PT Serif', serif;
        }

        p{
            font-size:18px;
        }

        h3{
            font-size:39px;
            font-weight:800px;
            text-decoration:underline;
        }

        h4{
            font-size:33px;
            font-weight:800px;
            text-decoration:underline;
        }
    </style>

    <div class="container" style="margin-top:25px;">
        <h3>Privacy Policy</h3>
        <p>
            We, <a href="www.triiii.com" style="color:blue !important;text-decoration:underline;">www.triiii.com</a> care about your privacy and to comply with applicable data protection and privacy regulations as applicable in India. This privacy policy (“Policy”) describes how we collect and use personal data. “Personal data” means information relating to you or another identifiable individual.
            We do not collect any personal information about you when you visit the website.
            While visiting your website you access our online services, our Servers automatically create records(include IP-Address, access times, the linked sites, visited pages and features used or requested, language and any other information ). We never identify users or their browsers history activities
            <a href="www.triiii.com" style="color:blue !important;text-decoration:underline;">www.triiii.com</a> may collect and use personal data as required so that we can provide you with best websites experience, services and support. Mainly your personal data includes information such as Name, Company Name, Address, Phone number, Email address, gender, educational qualification, district and state, or other data that could directly or indirectly identify you.
            Our Privacy Policy will explain to you what data we collect, and how we use your personal data. It also describes how you can access, update, or otherwise take control of the personal data that we have collected from you.
        </p>

        <h4>Collection of Data</h4>
        <p> 
            Any data is collected from you when you sign up, update your info , post or give feedback to a challenge at our website 
            or you request to become a partner or you apply to the TRIIII program with an innovation or request for some service. 
            Some more data can be collected when you contact us or request assistance from our customer support team; or you complete surveys or subscribe to newsletters, or request other information from us; or you 
            participate in contests or apply for a job or participate in activities where we may require information about you etc.
        </p>

        <h4>Usage of  Data</h4>
        <p>
            We believe in minimizing the data we collect. We will only use your data when we have been given permission to do so,
            when it is needed to deliver the Services/information that you have asked for, or for legal compliance or other lawful purposes. 
        </p>

        <h4>Securing and Retaining Data</h4>
        <p>
            We follow generally accepted standards to collect, store and protect personal data, including the use of encryption. We retain personal data for as long as it is needed to provide the services you have requested, and thereafter for legal and service purposes. These may include retention periods mandated by legal, contractual, or similar obligations; for resolving, preserving, enforcing or defending our legal and contractual rights; needed to maintain adequate and accurate business and financial records or how you access, update or delete your data etc.
            This website will take all reasonable efforts to ensure the confidentiality of personal data, uploaded information etc. and will take reasonable efforts to ensure that the information received from you is not misused. This website also reveals personal data/information uploaded by you in connection with any lawful process. While this website will take the above reasonable measures to guard against misuse of personal data/information submitted to it by you, this website cannot guarantee that someone will not overcome our security measures, including, without limitation, the security measures implemented on this Web site. Therefore, your posting of personal data/ information on this Web site constitutes your acceptance of this risk, and by posting of personal data/information, you waive any right to seek legal relief from this website due to any misuse of your information.
            If you are unable to access any section for any reason, you may contact us as described in the "Contact Us" section below.
        </p>

        <h4>Changes To Our Privacy Policy</h4>
        <p>
            We(triiii.com) reserves the right to change or modify Privacy Policy at any time. Please visit this page regularly to see that any changes in Privacy Policy.
        </p>

        <h4>Protection Of Your Data</h4>
        <p>
            Your personal data is subjected to the Data Protection Regulation applicable in India. Please contact us in case if you have any questions.
        </p>

        <h4>Policy Acceptance</h4>
        <p>
            While visiting the site,  Signing Up or Logging into our website(www.triiii.com) and uploading any data/information our site you acknowledge and accept all the policies. </br>
            <i>**In case if you have any questions/suggestion/query regarding our Privacy Policy. Please <a style="color:blue !important;text-decoration:underline;" href="{% url 'ContactUS' %}" >Contact Us</a>.</i>
        </p>

    </div>

{% endblock %}