{% extends "base.html" %}
{% load static %}
{% block content %}

    <style>
        .services-head{
            background: #fff;
            color: #fff;
            padding:20px 5px;
        }

        .section-head {
            font-size: 2.5em;
            margin-bottom: 1em;
            font-weight:500;
        }

        .content {
            margin-right:55px;
        }

        .section2{
            margin-top:30px;
        }

        .section3 {
            margin-top:50px;
        }

        .section2 p{
            margin-left:50px;
            margin-right:25px;
        }

        .section2 h1{
            margin-left:50px;
        }

        h1{
            color:#47bfab;
            font-weight:800 !important;
        }

        .dspnone{
            display:none;
        }

        .contactmore{
            background-color:black;
            color:white;
            padding-top:80px;
            padding-bottom:15px;
            margin-top:80px;
        }

        .pageFooter{
            margin-top:0px !important;
        }

        .cntBtn {
            display: block;
            font-family: "lionbridge_sansregular",sans-serif;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            background-color: #EA4B32;
            border-radius: 6px;
            padding: 14.5px 21px;
            -webkit-transition: all .4s;
            -ms-transition: all .4s;
            -o-transition: all .4s;
            transition: all .4s;
            cursor: pointer;
            outline:none;
            border:none;
        }

        @media (max-width:800px) {
            .services-head img{
                width:100%;
                height:auto;
            }

            p{
                margin:5px !important;
            }

            h1{
                margin:5px !important;
            }

            .dspnone{
                display:grid;
            }

            .dispone{
                display:none;
            }
        }
    </style>

    <div class="services-head" align="center">
        <img src="{% static 'images/servicesheadtransparent.png' %}" />
    </div>

    <div class="container" style="margin-top:56px;">
        <div class="section1 row">
            <div class="col-md-8">
                <a href="{% url 'ChallengesPage' %}" ><h1 class="section-head">Problem Solving</h1></a>
                <p class="content"> Solve your factory problem easy and fast with the latest technology using crowdsourcing. We 
                 have community base of lots of experts, millennials and bright young minds.
                 And all these personalities are so keen towards finding the innovative solutions of your problems whether it’s 
                 associated with ELECTRICITY, PRODUCTIVITY, MANPOWER, QUALITY, MARKETING and any other field. If you are facing 
                 troubles in some other domain or planning to put into effect any new technology, machinery, processes in your 
                 company we can help you out. While making sure that you get the possible results for your expenditure. We are 
                 always towards your Advantages, Optimization, Expansion, Upgration and Profit.  

                </p>
            </div>

            <div class="col-md-4">
                <img src="{% static 'images/problemsolving.png' %}" style="width:100%;height:auto;" />
            </div>
        </div>

        <div class="section2 row">
            <div class="col-md-4 dispone">
                <img src="{% static 'images/funding.png' %}" style="width:100%;height:auto;" />
            </div>
            <div class="col-md-8">
                <a href="{% url 'ContactUS' %}"><h1 class="section-head">Funding</h1></a>
                <p class="content"> Don’t worry, we know your problems, TRIIII also help you out in providing very 
                low-INTEREST RATE loans on your solution (technology). We know that every Business requires capital so 
                we can help you out. So that nothing can stop you from expanding your horizons leading your business to 
                ultimately grow and making it profitable.

                </p>
            </div>
            <div class="col-md-4 dspnone">
                <img src="{% static 'images/funding.png' %}" style="width:100%;height:auto;" />
            </div>
        </div>

        <div class="section3 row">
            <div class="col-md-8">
                <a href="{% url 'BlogPage' %}" ><h1 class="section-head">Chronicles</h1></a>
                <p class="content"> New fast way to upgrade your knowledge on technology or industry update that will 
                lead you to forward form other. Chronicles involve the knowledge from experts or company on how can you 
                reduce your factory cost, increasing productivity and many more other stuff. Every day there are new 
                innovations, technologies, effective processes introduced all over the world. So our Chronicles are a 
                dynamic knowledge base of these updates. Chronicles will help you out if you want to introduce something 
                new in your organization and also in case you if one want to Optimize existing machinery, technology or 
                operations. These chronicles lets you to be Up-to-Date regarding the new trends, shifts, directions and 
                movement in respective industries.
                </p>
            </div>
            <div class="col-md-4">
                <img src="{% static 'images/chronicles.png' %}" style="width:100%;height:auto;" />
            </div>
        </div>
    </div>


    <div class="contactmore">
        <div class="container">
            <h1 style="color:white !important;">Can’t find the service you need?</h1>
            <h5>To know more about our services <a href="{% url 'ContactUS' %}" >Contact Us</a></h5>
            <a href="{% url 'ContactUS' %}" ><button class="cntBtn">Contact Us</button></a>
        </div>
    </div>

{% endblock %}